.DS_Store
/SearchTest.xcodeproj/project.xcworkspace/xcuserdata/jonathan.xcuserdatad/UserInterfaceState.xcuserstate
/SearchTest.xcodeproj/xcuserdata/jonathan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/SearchTest.xcodeproj/xcuserdata/jonathan.xcuserdatad/xcschemes/xcschememanagement.plist
